<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Page</title>
    <style>
        body {
            background-color: #cccccc; /* 25% серый фон */
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <h1> Page Content for add a new task </h1>
    <p>This is the content of the add new task page.</p>
</body>
</html>